header {
    text-align: center;
}
#card {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 100px 1fr 80px;
    grid-template-rows: 50px 1fr 50px 50px;
    width: 400px;
}
#front {
    background-color: lightgray;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-template-rows: 1fr 1fr 1fr;
    width: 350px;
    padding: 20px;
}
#total {
    grid-column: 1/2;
    grid-row: 1/2;
}
#icon {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 50px;
    margin: 0;
    text-align: right;
}
#cardNumber {
    grid-column: 1/2;
    grid-row: 2/3;
}
#creditCardNumber {
    height: 50%;
}
#cardHolder {
    grid-column: 1/2;
    grid-row: 3/4;
}
#creditCardHolder {
    height: 50%;
}
#cardExpiration {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: -20px
}
#expirationDate {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 15px;
}
#month {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80%;
    height: 75%;
}
#year {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 80%;
    height: 75%;
}
#back {
    background-color: lightgray;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px 1fr 1fr;
    width: 400px;
    padding-top: 20px;
    margin-bottom: 10px;
}
#bar {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: black;
}
#cardCVC {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 20px;
    margin-top: -30px;
}
#creditCardCVC {
    width: 60%;
    height: 40%;
}
#submitButton {
    margin-top: 15px;
    margin-bottom: 5px;
    grid-column: 3/4;
    grid-row: 4/5;
    border-radius: 15%;;
}