body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    padding: 3px;
    text-align: center;
}
header {
    display: grid;
    grid-template-rows: 1fr auto 1fr auto 1fr auto;
    height: 225px;
}
header hr, footer hr {
   grid-column: 1/-1;
   width: 100%; 
   height: 2px;
   margin: 0;
   background-color:#f3d8ba;
   border: none;

}
.main-nav {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
}
.main-nav a {
    color: #bf4863;
    text-decoration: none;
}
#book-list {
    padding: 3px;
    text-align: left;
}
.book {
    max-width: 700px;
    margin: 1rem;
    margin-top: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;
    justify-items: end;
    justify-self: center;
}
.book h2 {
    color: #bf4863;
    margin-top: 0;
}
.book-description {
    grid-row: 2/3;
    grid-column: 1/2;
}
.book-description img {
    display: block;
    margin: 1rem auto 0;
}
.book-info {
    text-align: right; 
    grid-row: 1/2;
    grid-column: 2/3;
}
.book-info p {
    margin-top: 2px;
    margin-bottom: 5px;
}

@media (min-width: 800px) {
    .book {
        grid-template-columns: 200px 2px 1fr;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .book-info {
        grid-column: 1/2;
        padding-right: 50px;
    }
    .book-description {
        grid-column: 3/4;
        grid-row: 1/3;
        padding-left: 50px;
    }
    .divider {
        grid-row: 1/-1;
        grid-column: 2/3;
        width:2px;
        background-color: #f3d8ba;
    }
    header {
        grid-template-rows: 1fr auto 1fr auto;
        height: 150px;
    }
    p.extra,
    hr.extra {
        display: none;
    }
}