body {
 margin: 0;
 padding: 0;
 background-color: #cccccc;
}
header,
main,
footer {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
header, footer {
    background-color: #2b80e3;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
main {
    display: grid;
    grid-template-rows: 50px 1fr;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    grid-row: 1/2;
    display: block;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}
nav {
    text-align: center;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: white solid 5px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
    main {
        
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        grid-column: 1/3;
    }
    .menu-btn {
        font-size: larger;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
        grid-column: 1/4;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
}