body {
 margin: 0;
 padding: 0;
 background-color: #cccccc;
 width: 100%;
}
header,
main,
footer {
  margin: 0;
  padding: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  
}
header, footer {
    background-color: #2b80e3;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
main {
    display: grid;
    grid-template-rows: 50px 1fr;
    
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    grid-row: 1/2;
    display: block;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: x-large;
}
nav {
    text-align: center;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
    padding-bottom: 5px;
}
nav.show a {
    display:block;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: white solid 5px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
dialog img {
    width: 90%;
    height: 80%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

.hide {
    display: none;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        font-size: larger;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
        grid-column: 1/2;
    }
    .menu-btn {
        display: none;
    }
    nav.show a {
        display: inline;
    }
    nav a {
        display: inline;
    }
}